
<!-- header -->
<header class="header">
	<div class="header-main-panel">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="popup-menu-wrap js-popup-wrap">
				<a href="" class="btn-popup btn-action-ico ico-menu js-btn-toggle"></a>
				<div class="popup-content-block js-popup-block">
					<a href="" class="btn-action-ico ico-close btn-popup-close js-btn-close"></a>
					<div class="site-menu-wrap">
						<ul class="menu">
							<li><a href="" class="active">О колледже</a></li>
							<li><a href="">Поступающим</a></li>
							<li><a href="">Обучающимся</a></li>
							<li><a href="">Персонал</a></li>
							<li><a href="">Наука и методика</a></li>
							<li><a href="">Самоаттестация</a></li>
							<li><a href="">Государственные услуги</a></li>
						</ul>
					</div>
					<div class="search-wrap">
						<form action="/" class="frm-main-search">
							<input type="text" class="form-input" placeholder="Поиск">
						</form>
					</div>
					<div class="header-top-panel">
						<div class="inner-wrap">
							<div class="langs-wrap">
								<ul class="menu">
									<li><a href="">Қазақша</a></li>
									<li><a href="" class="active">Русский</a></li>
									<li><a href="">English</a></li>
								</ul>
							</div>
							<div class="soc-wrap">
								<a href="" class="btn-action-ico button-soc">
									<img src="./img/icons/soc01.svg" alt="">
								</a>
								<a href="" class="btn-action-ico button-soc">
									<img src="./img/icons/soc02.svg" alt="">
								</a>
								<a href="" class="btn-action-ico button-soc">
									<img src="./img/icons/soc03.svg" alt="">
								</a>
								<a href="" class="btn-action-ico button-soc">
									<img src="./img/icons/soc04.svg" alt="">
								</a>
							</div>
							<div class="links-wrap">
								<div class="elm-ico">
									<img src="./img/icons/phone.svg" alt="">
								</div>
								<div class="link-wrap">
									<a href="tel:87273911041" class="link-phone">+7 (727) 391-10-41</a>
								</div>
								<div class="link-wrap">
									<a href="tel:87000270011" class="link-phone">+7 (700) 027-00-11</a>
								</div>
								<div class="link-wrap">
									<a href="tel:87076554085" class="link-phone">+7 (707) 655-40-85</a>
								</div>
							</div>
							<div class="links-wrap">
								<div class="elm-ico">
									<img src="./img/icons/email.svg" alt="">
								</div>
								<div class="link-wrap">
									<a href="mailto:info@college-narxoz.kz" class="link-email">info@college-narxoz.kz</a>
								</div>
							</div>
							<div class="links-wrap">
								<div class="elm-ico">
									<img src="./img/icons/location.svg" alt="">
								</div>
								<div class="link-wrap">050035, г. Алматы, 10-й микрорайон 7А</div>
							</div>
							<div class="user-wrap">
								<a href="" class="btn-user">Войти</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->